body.section-index.page-index .content
  & > header
    padding-bottom: 2rem
    .img
      width: 100%
      height: 20rem
      background:
        size: cover
        position: 50% 50%
        repeat: no-repeat
    .caption
      font-size: +modular-scale(-1)
      font-style: italic
      color: $color-gray
    h2
      @extend %wave-head

  ul.groupings
    padding: 0
    & > li
      +desktop
        +grid-column(4)
      +mobile
        +grid-column(12)
      @extend %featured
      list-style-type: none
      margin-bottom: 2rem
      h2
        margin-top: 0
      & > ul
        @extend %featured-list
